*{
  margin: 0;
  padding: 0;
}
img{
height: 600px;

}

h2{
  background-color: orange;
  
}
#background-image{
  text-align: center;
  width: auto;
  
}

#buttons-area{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  height: 50px;
}
#display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.displayContainer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
footer{
  text-align: center;
}

.normal{
  background-color: grey;
}
.water{
  background-color: lightskyblue;
}
.electric{
  background-color: yellow;
}
.fighting{
  background-color: red;
}
.ground{
  background-color: gold;
}
.psychic{
  background-color: hotpink;
}
.rock{
  background-color: brown;
}
.dark{
  background-color: darkslategrey;
}
.steel{
  background-color: slategrey;
}
.fire{
  background-color: orangered;
}
.grass{
  background-color: greenyellow;
}
.ice{
  background-color: skyblue;
}
.poison{
  background-color: purple;
}
.flying{
  background-color: slateblue;
}
.bug{
  background-color: limegreen;
}
.ghost{
  background-color: mediumpurple;
}
.dragon{
  background-color: plum;
}
.fairy{
  background-color: lightpink;
}

button{
  border: none;
  padding: 10px;
  border-radius: 5%;
  background-color: yellow;
}
button:hover{
  background-color: pink;
}
.pokeFaceSpec{
  height: 300px;
}
h1{color: rgb(245, 245, 28);}

@media only screen and (max-width: 960px) {
  img{
    height: 400px;
  }
  #background-image{
    text-align: center;
    
   width:100%;
  }
}


@media only screen and (max-width: 600px) {
  img{
    height: 281px;
  }
  #background-image{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
  }
  p{font-size: 12px;}
  .displayContainer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
  }
  #display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60%vh;
  }
  .pokeFaceSpec{
    height: 200px;
  }
}